.wrapper {
    background: #fff;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.wrapper .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.inputField input {
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.inputField input:focus {
    border-color: #04AA6D;
}

.inputField button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.5;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList {
    max-height: 265px;
    overflow-y: auto;
}

.todoList li {
    position: relative;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    color: black;
    text-align: left;

    .todo-name {
        word-break: break-word;
        margin-right: 50px;
        padding: 10px;

        button {
            border: none;
            color: #fff;
            margin-left: 8px;
            font-size: 21px;
            outline: none;
            background: #04AA6D;
            cursor: pointer;
            border-radius: 3px;
            padding: 4px 12px;
        }
    }

    input {
        width: 85%;
        height: 45px;
        outline: none;
        border-radius: 3px;
        border: 1px solid #ccc;
        font-size: 17px;
        padding-left: 15px;
        transition: all 0.3s ease;
    }

    input:focus {
        border-color: #04AA6D;
    }

    .btn-save {
        display: block;
        position: absolute;
        background: #04AA6D;
        text-align: center;
        color: #fff;
        padding: 10px 16px;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        transform: translateY(-100%);
        right: 0;
        outline: none;
        font-size: 21px;
        border: none;
        height: 100%;
    }
}

.todoList li .icon {
    display: flex;
    align-items: center;
    position: absolute;
    background: #e74c3c;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    height: 100%;
    transform: translateY(-100%);
    right: 0;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    color: black;
    align-items: center;

    span {
        text-align: left;
        font-size: 22px;
    }
}


.footer button {
    padding: 8px 4px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
    background: #04AA6D;
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
    pointer-events: none;
    transition: all 0.3s ease;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}